{% extends "base.html" %} {% load static %} 
{% block stylesheet %} 
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
{% endblock %} 
{% block nevitem %}
<li class="nav-item active">
    <a class="nav-link" href="/home">Home
        <span class="sr-only"></span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/sell/">Selling</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/profile">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/chat">Chat</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Log out</a>
</li>
{% endblock %} {% block mainbody %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        <small>Welcome to NTURESELL</small>
    </h1>

    <!--Search Bar-->
    <form action="." method="POST" class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
            <input class="form-control form-control-lg form-control-borderless" name="productname" type="search" placeholder="Search product" value="">
        </div>
        <input type="hidden" value="searchproduct" name="searchproduct">
        <!--end of col-->
        <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit">Search</button>
        </div>
        <!--end of col-->
    </div>
    </form>

    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/media/{{product.profile}}"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="">{{product.productname}}</a>
                        </h4>
                        <p class="card-text">Amount:{{product.amount}}</p>
                        <p class="card-text">NTD:{{product.price}}</p>
                    </div>
                    <form action="/productdetail">
                        <input type="submit" value="Details" id="details"></input>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NTURESELL 2018</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
