{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block nevitem %}
<li class="nav-item">
    <a class="nav-link" href="/home">Home
        <span class="sr-only"></span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Selling</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/profile">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Log Out</a>
</li>
{% endblock %}
{% block mainbody %}
<div id = "namecard" >
    <img src= {{profile.profile}} alt= "MyHandsomePhoto" >
    <div id= "right" >
        帳號：{{profile.user}} <br> 暱稱：{{profile.nickname}} <br> 電子郵件：{{profile.ntumail}}
        <br>
    </div>
</div>
{% endblock %}
