{% extends "base.html" %} {% load static %} {% block stylesheet %} {% endblock %} {% block nevitem %}
<li class="nav-item">
    <a class="nav-link" href="/home">Home
        <span class="sr-only"></span>
    </a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#">Selling</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/profile">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/chat">Chat</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Log Out</a>
</li>
{% endblock %} 
{% block mainbody %}
<div class="container">
    <h2>Sell Something?</h2>
    <form method="POST" action="." enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" name="seller" id='seller' value="{{user.pk}}"
        </div>
        <div class="form-group">
            <label for="productname">Product Name:</label>
            <input type="text" class="form-control" name="productname" id="productname">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="NTD">
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" name="amount" id="amount">
        </div>
        <div class="form-group">
            <label for="amount">Description:</label>
            <textarea class="form-control" rows="5" name="information" id="information"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Product Photo</label>
            <input type="file" class="form-control-file" name = "profile" id="profile">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}